<ion-button expand="full" (click)="selectImage()" class="img-wrapper" size="large">
  <ion-icon name="add" size="large"></ion-icon>
  <ion-label>Add Finding</ion-label>
</ion-button>
<ion-list>
  <ion-item *ngFor="let img of images; index as pos" class="ion-text-wrap">
    <ion-thumbnail slot="start" size="large">
      <ion-img [src]="img.path" (click)="openImage(img.filePath)" (press)="deleteImage(img, pos)"></ion-img>
    </ion-thumbnail>
    <ion-input (change)="descriptionChanged($event.target.value, pos)" placeholder="Enter your description" [(ngModel)]="img.description"></ion-input>
  </ion-item>
</ion-list>
<!---
<ion-grid>
  <ion-row>
    <ion-col col-6 *ngFor="let img of images; index as pos">
      <ion-img [src]="img.path" (click)="openImage(img.filePath)" (press)="deleteImage(img, pos)"></ion-img>
    </ion-col>
    <ion-col col-6>
      <ion-input placeholder="......."></ion-input>
    </ion-col>
  </ion-row>
</ion-grid>-->
