<ion-button expand="full" (click)="selectImage()" class="img-wrapper" size="large">
  <ion-icon name="add" size="large"></ion-icon>
  <ion-label>Add Photo</ion-label>
</ion-button>
<ion-grid>
  <!--  IN DIV   [style.background-image]="'url(' + img.path + ')'"-->
  <!-- [ngStyle]="{'background-image': 'url(' + img.pat + ')'}" -->
  <ion-row>
    <div class="images">
      <div class="one-image" *ngFor="let img of images; index as pos" (press)="deleteImage(img, pos)">
        <ion-img [src]="img.path" (click)="openImage(img.filePath)"></ion-img>
      </div>
    </div>
  </ion-row>
</ion-grid>
