<ion-header>
  <ion-toolbar color="primary">
    <ion-title>part-detail</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSave()" [routerLink]="'/parts/' + projectId" routerLinkActive="router-link-active" routerDirection="forward">Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="partItem">
    <ion-col>
      <ion-text color="primary"><h1 class="ion-margin-start header">General Information</h1></ion-text>
    </ion-col>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Nomenclature:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.nomenclature"> </ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Category:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.category"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Component Type:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.componentType"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">IPC Reference:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.ipcReference"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">IPC Item-Number:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.ipcItemNumber"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Pre-Mod P/N (IPC):</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.postModPN"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Pre Mod Position (IPC):</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.preModPositionIPC"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Arrangement:</ion-label>
          <ion-input disabled="true"></ion-input> <!--TBD-->
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">AMM Removal Task:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.ammRemovalTask"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">AMM Installation Task:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.ammInstallTask"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Reason For Removal:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.reasonRemoval"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Intended Purpose:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.intendedPurpose"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating" color="dark">Install Room/Zone:</ion-label>
          <ion-input disabled="true" [(ngModel)]="partItem.installZoneRoom"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="partItem">
  <ion-col>
    <ion-text color="primary">
      <h1 class="ion-margin-start header">Removal Related Information</h1></ion-text>
  </ion-col>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Pre-Mod P/N (A/C):</ion-label>
        <ion-input [(ngModel)]="partItem.preModPNAC"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Serial No.:</ion-label>
        <ion-input [(ngModel)]="partItem.serialNo"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Pre-Mod Weight:</ion-label>
        <ion-input [(ngModel)]="partItem.preModWeight"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Rack Number:</ion-label>
        <ion-input [(ngModel)]="partItem.rackNo"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Rack Location:</ion-label>
        <ion-input [(ngModel)]="partItem.rackLocation"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item>
        <ion-label position="floating" color="dark">Remarks Removal:</ion-label>
        <ion-input [(ngModel)]="partItem.remarksRemoval"></ion-input>
      </ion-item>
    </ion-col>
    </ion-row>
  </ion-grid>

  <ion-segment #segment class="lht-tab-segment" value="comment" (ionChange)="segmentChanged($event)" style="padding-top: 2em;">
    <!-- (ionChange)="onSegmentChange($event.detail.value)"-->
    <ion-segment-button class="lht-tab-segment-button" (click)="onSave()" value="comment">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Comment</ion-label>
    </ion-segment-button>
    <ion-segment-button class="lht-tab-segment-button" (click)="onSave()" value="photos">
      <ion-icon name="images"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-segment-button>
    <ion-segment-button class="lht-tab-segment-button" (click)="onSave()" value="findings">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Findings</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-comment *ngIf="selectedSegment === 'comment'"></app-comment>
  <app-photo *ngIf="selectedSegment === 'photos'"></app-photo>
  <app-finding *ngIf="selectedSegment === 'findings'"></app-finding>

</ion-content>
