<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/projects']" routerLinkActive="router-link-active"></ion-back-button>
    </ion-buttons>

    <ion-searchbar slot="start" placeholder="Search/Filter" style="width: 550px" [(ngModel)]="searchTerm"></ion-searchbar>
<!-- (ionChange)="setSearchedItems()"-->
    <ion-button slot="end">
      <ion-icon icon name="funnel" ></ion-icon>
      <ion-select name="filter" interface="popover" (ionChange)="onChangeFilter($event)">
        <ion-select-option value="Ident-Nr">Ident-Nr.</ion-select-option>
        <ion-select-option value="P/N">P/N</ion-select-option>
        <ion-select-option value="Category">Category</ion-select-option>
        <ion-select-option value="componentType">Component Type</ion-select-option>
        <ion-select-option value="Status">Status</ion-select-option>
        <ion-select-option value="Rack-Nr">Rack-Nr.</ion-select-option>
        <ion-select-option value="Position">Position</ion-select-option>
        <ion-select-option value="InstallationRoom">Installation Room</ion-select-option>
      </ion-select>

    </ion-button>
    
    <ion-buttons class="barcode-buttons" slot="end">
      <ion-button (click)="scanPartIdentTag()">
        <ion-icon name="barcode"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="has-header">
  
  <ion-chip *ngFor="let chip of chips; let i = index" color="primary">
    <ion-label>{{ chip.FilterObj }}: {{chip.FilterTerm }}</ion-label>
    <ion-icon name="close-circle" (click)="deleteChip(i, $event)"></ion-icon>
  </ion-chip>

  <ion-list>
    <ion-list-header>
      <ion-grid style="padding-right: 3em;">
        <ion-row>
          <ion-col size="2">
            <div class="stacked-group">
              <ion-label>P/N</ion-label>
            </div>
          </ion-col>
          <ion-col size="2">
              <div class="stacked-group">
                <ion-label>Nomenclature</ion-label>
              </div>
            </ion-col>
          <ion-col size="2">
            <div class="stacked-group">
              <ion-label>Category</ion-label>
            </div>
          </ion-col>
          <ion-col size="2">
            <div class="stacked-group">
              <ion-label>Component Type</ion-label>
            </div>
          </ion-col>
          <ion-col size="1">
            <div class="stacked-group">
              <ion-label>Position</ion-label>
            </div>
          </ion-col>
          <ion-col size="2">
            <div class="stacked-group">
              <ion-label>Arrangement</ion-label>
            </div>
          </ion-col>
          <ion-col size="1">
            <div class="stacked-group">
              <ion-label>Status</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>

    
    <ion-item-sliding *ngFor="let part of parts; let i = index">
      <ion-label *ngIf="part?.length">No results found :(</ion-label>
      <ion-item (click)="openDetail()" [routerLink]="'/part-detail/' + part.counterId" routerLinkActive="router-link-active" routerDirection="forward">
        
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="stacked-group">
                <ion-label>{{ part.postModPN }}</ion-label>
              </div>
            </ion-col>

            <ion-col size="2">
              <div class="stacked-group">
                <ion-label>{{ part.nomenclature }}</ion-label>
              </div>
            </ion-col>
            
            <ion-col size="2">
              <div class="stacked-group">
                <ion-label>{{ part.category }}</ion-label>
              </div>
            </ion-col>
            <ion-col size="2">
              <div class="stacked-group">
                <ion-label>{{ part.componentType }}</ion-label>
              </div>
            </ion-col>
            <ion-col size="1">
              <div class="stacked-group">
                <ion-label>{{ part.preModPositionIPC }}</ion-label>
              </div>
            </ion-col>
            <ion-col size="2">
              <div class="stacked-group">
                <ion-label>{{ part.ammRemovalTask }}</ion-label> <!--TBD-->
              </div>
            </ion-col>
            <ion-col size="1">
              <ion-label *ngIf="!part.remarksRemoval && !part.statusEdit && !part.statusCreate">-</ion-label>
              <ion-icon *ngIf="part.remarksRemoval" name="remove-circle"></ion-icon>
              <ion-icon *ngIf="part.statusEdit === '1'" name="refresh-circle"></ion-icon>
              <ion-icon *ngIf="part.statusCreate" name="add-circle"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deletePart(i)" color="danger">
          <ion-icon name="trash"></ion-icon>
          <ion-label>Delete</ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer> 
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="primary">

        <ion-tab-button (click)="onAddItem()" [routerLink]="'/part-detail/-1'" routerLinkActive="router-link-active" routerDirection="forward">
          <ion-icon size="large" name="md-add"></ion-icon>
          <ion-label color="light">Add</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="onSync()">
          <ion-icon size="large" name="cloud-upload"></ion-icon>
          <ion-label color="light">Synchronize</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
