<ion-header>
  <ion-toolbar color="primary">
    <ion-icon icon name="cog" class="url-toggle" (click)="triggerUrl()"></ion-icon>
    <ion-title>Welcome ({{version}})</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-input placeholder="User" [(ngModel)]="usField" class="login-button"></ion-input>
  <ion-input placeholder="Password" [(ngModel)]="pwField" class="login-button" type="Password"></ion-input>
  <ion-input placeholder="Backend base url" [(ngModel)]="urlField" class="login-button" *ngIf="showUrl"></ion-input>
  <ion-button size="large" color="light" expand="full" (click)="login()" class="login-button">
    <!-- routerLink="/projects" routerDirection="root"-->
    Log in to RDM
  </ion-button>
</ion-content>

