<ion-button (click)="selectImage()">
  <ion-icon name="add" size="large"></ion-icon>
  <ion-label>Add Photo</ion-label>
</ion-button>

<ion-grid>
  <ion-row>
    <ion-col pull-lg="6" pull-md="4" pull-sm="2" size="12">
      <ion-item *ngFor="let img of images; index as pos" class="ion-text-wrap">
        <div class="img-wrapper" [style.background-image]="'url(' + img.path + ')'"></div>
        
        <!-- <ion-thumbnail slot="start">
          <ion-img [src]="img.path"></ion-img>
        </ion-thumbnail> -->


      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
