ion-label {
    color: black;
    font-size: 11px;
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: normal ;
    font-family: Arial;
    pre {
      font-family: Arial;
      b {
        font-family: Arial;
      }
    }
  }