<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Projects</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteData()" routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let project of projects">
      <ion-item [routerLink]="'/parts/' + project.id" routerLinkActive="router-link-active" routerDirection="forward">
        <ion-label><pre><b>{{ project.id }}</b>    {{ project.title }}   {{ project.msn }}
          <app-progress style="display: inline-block; width: 200px;" [progress]="checkStatus(project)"></app-progress>
        </pre></ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
