<ion-header>
  <ion-toolbar>
    <ion-title>Add New Part</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Child Part</ion-label>
      <ion-toggle [(ngModel)]="childItem"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="childItem == true">
      <ion-select *ngFor="let part of parts; let i = index">
        <ion-label>{{ part.counterId }}</ion-label>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-tab-button (click)="closePopover()">
      <ion-icon name="close"></ion-icon>
      Cancel
    </ion-tab-button>
    <ion-tab-button (close)="closePopover()" [routerLink]="'/part-detail/-1'" routerLinkActive="router-link-active" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
      Add
    </ion-tab-button>
  </ion-row>
</ion-content>
