<ion-header>

    <ion-toolbar color="primary">

        <ion-title>Dev</ion-title>

        <ion-buttons slot="start">
            <ion-back-button [routerLink]="['/projects']" routerLinkActive="router-link-active"></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button (click)="initializeDevInfo()">Refresh</ion-button>
        </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="has-header">
    <ion-text color="primary">
      <h1 class="ion-margin-start header">Images</h1>
      <div class="indent">
        <p>Locally saved metadata: {{devInfo.locallySavedImageMeta}} ({{devInfo.locallySavedImageMetaImages}} Images)</p>
        <p>Locally saved images: {{devInfo.locallySavedImages}}</p>
        <p>
          <ion-button>Upload</ion-button>
          <ion-button>Details</ion-button>
        </p>
      </div>
    </ion-text>

    <ion-text>
      <h1 class="ion-margin-start header">Unsynchronized Requests:</h1>
      <div class="indent">
        <p style="color: orange">[Always upload parts first!]</p>
        <p>&nbsp;</p>

        <p>Parts: {{devInfo.unsynchronizedParts}}</p>
        <p>
          <ion-button [disabled]="devInfo.disableAll || devInfo.unsynchronizedParts < 1"
                      (click)="uploadAllParts()">
            Upload Parts
          </ion-button>
          <ion-button [routerLink]="['./part-req-details']" routerDirection="forward"
                  [disabled]="devInfo.disableAll">
            Details
          </ion-button>
        </p>
        <p *ngIf="devInfo.uploadingParts">
          Uploading {{devInfo.currentlyUploadedParts}} of {{devInfo.unsynchronizedParts}} parts
        </p>

        <p>&nbsp;</p>

        <p>Images: {{devInfo.unsynchronizedImages}}</p>
        <p>
          <ion-button [disabled]="devInfo.disableAll || devInfo.unsynchronizedImages < 1"
                      (click)="uploadAllImages()">
            Upload Images
          </ion-button>
          <ion-button [routerLink]="['./image-req-details']" routerDirection="forward"
                      [disabled]="devInfo.disableAll">Details</ion-button>
        </p>
        <p *ngIf="devInfo.uploadingImages">
          Uploading {{devInfo.currentlyUploadedImages}} of {{devInfo.unsynchronizedImages}} images
        </p>

      </div>
    </ion-text>

    <ion-text>
      <h1 class="ion-margin-start header">Logging:</h1>
      <div class="indent">
        <ion-button [routerLink]="['./logging']" routerDirection="forward"
                     [disabled]="devInfo.disableAll">
          Show Logs
        </ion-button>
      </div>
    </ion-text>

  <!--<p>&nbsp;</p>
  <p>&nbsp;</p>
  <ion-button (click)="createPartThatWillFail()">Create Fail Part</ion-button>-->

</ion-content>
